body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  padding-top: 85px;
}

.lh-220 {
  line-height: 220%;
}

.ui-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}